---
import Layout from '../layouts/Layout.astro';

---

<Layout title="Singular | Furniture & Design Studio">
	<div class="container_wrapper">
		<div class="container_wrapper-main">
			<div class="container_wrapper-logo">
				<img src="/images/logo-singularstudio.png" alt="">
			</div>
			<div class="container_wrapper-text">
				<h2>VOLVEMOS PRONTO</h2>
				<h3>WE ARE COMING BACK SOON!</h3>
				<p>Muebles y diseño inspirados en artesanía, naturaleza e innovación. Desde 2011</p>
				<p>Handcrafted furniture inspired by tradition, nature, and innovation · Since 2011</p>
			</div>
		</div>
	</div>
		
</Layout>


<style lang="scss">
	@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
	.container_wrapper{
		width: 100%;
		height: auto;
	}
	.container_wrapper-main{
		position: relative;
		display: flex;
		flex-direction: column;
		width: 90%;
		height: auto;
		justify-content: center;
		align-items: center;
		margin: 0 auto;
		font-family: "Inter", sans-serif;
		font-optical-sizing: auto;
		color: #4E604E;
		padding-bottom: 80px;
		padding-top: 20vh;
	}
	h2{
		font-size: 49px;
		font-weight: 300;
		margin: 15px;
	}
	h3{
		font-size: 26px;
		font-weight: 300;
		margin: 15px;
		font-style: italic;
	}
	.container_wrapper-logo{
			position: relative;
			width: 60%;
			max-width: 450px;
			margin-bottom: 30px;
			&::after{
				content: '';
				position: relative;
				display: block;
				width: 2px;
				height: 70px;
				background-color: #4E604E;
				margin: 30px auto 0;
				
			}
			img{
				width: 100%;
			}

			// @media screen and (max-width: 880px){
			// 	padding-top: 50px;
			// }
		}
	.container_wrapper-text{
		width: 90%;
		max-width: 520px;
		text-align: center;
		p{
			font-size: 22px;
			font-weight: 300;
		}
	}


	@media screen and (max-width: 768px){
      h2{
				font-size: 33px;
			}
			h3{
				font-size: 18px;
			}
			.container_wrapper-text{
				p{
					font-size: 13px;
				}
			}
	}
		
</style>